<!-- base.html - This page ties in all the essential elements of a webpage -->

<!DOCTYPE html>
<html>

<head>
    <title>The High Ball Collection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/main.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/tailwind.css') }}">
    <link rel="stylesheet" href="https://unpkg.com/aos@2.3.1/dist/aos.css">
</head>

<body>
{% block body %}
{% endblock %}

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
</body>

</html>