<!-- index.html - Home page -->

{% extends 'base.html' %}

{% block body %}
<section class="text-cs-white no-overflow">

    <video autoplay muted loop id="background-video" class="absolute w-full">
        <source src="{{ background }}" type="video/mp4">
    </video>

    <!-- Brown shader -->
    <div class="absolute inset-0 bg-cs-brown opacity-50"></div>

    <!-- Contents -->
    <div class="flex items-center justify-center h-screen">

        <!-- Relative so the absolute div inside is positioned relative to it -->
        <div class="relative">

            <!-- Top-Class/High Ball/Catalogue Title -->
            <div class="absolute inset-0 flex items-center justify-center">
                <div class="text-center whitespace-nowrap"> <!-- This div separates each text line -->
                    <h2 class="font-julius text-[24px] tracking-[0.5em]" >Top-Class Variety</h2>
                    <h1 class="font-judson text-[128px] leading-[8rem]" data-aos="zoom-out" data-aos-duration="3000"><i>The High Ball<br>Collection</i></h1>
                    <!-- <h1 class="font-judson text-[128px]"><i></i></h1> -->
                    <h2 class="font-julius text-[24px] tracking-[0.5em]" >
                        <a href="{{ url_for('catalogue') }}" class="hover:text-cs-orange">
                        View Our Catalogue
                        </a>
                    </h2>
                </div>
            </div>

        </div>
    </div>
</section>

<!-- Animate on Scroll JS -->
<script>
    AOS.init();
</script>
{% endblock %}
