<!-- recipe.html - This page hosts the individual recipe for the cocktail -->

{% extends 'base.html' %}

{% block body %}
<section class="bg-cs-white text-cs-brown h-screen">
    <!-- Page Title -->
    <div class="text-center relative top-16">
        <h3 class="font-julius text-[16px] tracking-[0.5em] text-cs-beige">Recipes</h3>
        <h2 class="font-judson text-[64px]"><i>{{ drink['name'] }} Recipe</i></h2>

        <!-- Split into left/right section -->
        <div class="flex my-10 mx-8">
            <!-- Left Side -->
            <div class="flex w-1/2 justify-center">
                <!-- Featured image -->
                <img src="{{ drink['image'] }}" alt="{{ drink['name'] }} Cocktail">
            </div>

            <!-- Right Side -->
            <div class="w-1/2 mx-16 text-left">
                <!-- Description -->
                <p class="font-open text-[20px] space-y-[50px]">
                    {{ drink['description'] }}
                </p>
                <br><br>
                <!-- Ingredients -->
                <h3 class="font-judson text-[36px] ">Ingredients</h3>
                <p class="font-open text-[20px] space-y-[50px]">
                    {% for line in drink['ingredients'].split('\\n') %}
                    • {{ line }}<br>
                    {% endfor %}
                </p>
                <br><br>
                <!-- Directions -->
                <h3 class="font-judson text-[36px] ">Directions</h3>
                <p class="font-open text-[20px] space-y-[50px]">
                    {% for line in drink['directions'].split('\\n') %}
                    • {{ line }}<br>
                    {% endfor %}
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
